<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content" >
        <form class="form-horizontal">
         	<div class="modal-header">
                <button type="button" class="pull-right btn btn-action" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close"></span>
                </button>
                <h4 class="modal-title">Alert</h4>

            </div>
            <div class="modal-body">
				<div class="form-group">
                    <div class="col-sm-1"><span class="fa fa-2x fa-exclamation-circle blue"></span></div>
                    <div class="col-sm-11"><label>{{alertMessaage}}</label></div>
				</div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-action" type="button" value=" OK " data-dismiss="modal" />
            </div>
        </form>
    </div>
</div>
</div>