<div ng-controller="categorizerController">
    <div class="modal fade" id="launchNewCategorizerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 90%;">
            <div class="modal-header">
                <button type="button" class="pull-right btn btn-action" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close"></span>
                </button>
                <h4 class="modal-title">Categorizer</h4>
            </div>

            <div class="modal-content">

                <div class="row" >

                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="col-md-12" >
                                    <label class="col-sm-2 control-label">Cognitive Space</label>
                                    <div class="col-sm-6">

                                        <ol class="nya-bs-select form-control"
                                            ng-model="shared.space"
                                            data-live-search="true"
                                            title="Select a cognitive space"
                                            data-size="10" ng-change="onSelectCognitiveSpaceAdvance()" >
                                            <li nya-bs-option="sp in shared.spaces" >
                                                <a>
                                                    <span>{{sp.label}}</span>
                                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                                </a>
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                                    <div class="col-md-12 tabContent" >
                                        <div class="blockquote" ng-show="false">
                                            <p><span class="fa fa-info-circle fa-2x blue"></span> In order to use the CATEGORIZER , you must :</p>
                                            <ul class="angular-ui-tree-nodes"style="padding-left: 50px">
                                                <li>1 - Create and delete Categories</li>
                                                <li>2 - Add and remove Patterns to those categories</li>
                                                <li>3 - Launch  and display the Categorisation</li>
                                            </ul>
                                        </div><br/>

                                        <!--  wizard follow-up -->
                                        <div class="col-md-12 btn-group">
                                            <button type="button" class="col-md-4 btn" ng-class="{'wizard-active' : (wizard.step >= 1)}" ng-click="wizardGoto(1)">1 - Create and delete Categories</button>
                                            <button type="button" class="col-md-4 btn" ng-class="{'wizard-active' : (wizard.step >= 2)}" ng-click="wizardGoto(2)">2 - Add and remove Patterns to those categories</button>
                                            <button type="button" class="col-md-4 btn" ng-class="{'wizard-active' : (wizard.step >= 3)}" ng-click="wizardGoto(3)">3 - Launch  and display the Categorisation</button>
                                        </div>
                                        <!-- First step => Manager categories -->
                                        <div class="col-md-12 wizard" ng-show="wizard.step == 1" style="margin-top:1em;">
                                            <div class="col-md-12">
                                                <p class="blockquote">
                                                    <span class="fa fa-info-circle fa-2x blue"></span>
                                                    Once you have set your categories then go to step 2
                                                </p>
                                            </div>
                                            <div class="col-md-4" style="margin-top:1em;">
                                                <form ng-submit="createCategory(categoryName)">
                                                    <div class="input-group">
                                                        <input required="required" type="text" maxlength="60" class="form-control" placeholder="Create a new category" ng-model="categoryName">
                                                        <span class="input-group-btn">
                                                            <button ng-disabled="!shared.space" type="submit" class="btn btn-action" title="Create a new category"><span class="fa fa-plus"></span></button>
                                                        </span>
                                                    </div>
                                                </form>
                                                <br/>
                                                <table class="table table-striped table-condensed table-bordered" style="width:100%;margin-bottom:0;" ng-hide="listCategory | isEmpty">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-1 text-center" style="width: 5%">#</th>
                                                            <th class="col-md-10">Categories</th>
                                                            <th class="col-md-1" style="width:5%">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cat in listCategory | toArray | orderBy:'-id' | itemsPerPage : 8"
                                                            pagination-id="catsPage" current-page="currentPageCatsPage" >
                                                            <td class="text-right">{{$index+1}}</td>
                                                            <td>{{cat.label}}</td>
                                                            <td class="text-center">
                                                                <a title="Delete this categorie" class="btn btn-subaction btn-xs" ng-click="deleteCategory(cat)">
                                                                    <span class="fa fa-remove"></span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="text-center">
                                                    <dir-pagination-controls pagination-id="catsPage"></dir-pagination-controls>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>

                                        <!-- Second step => Sort catdocuments -->
                                        <div class="col-md-12 wizard" ng-show="wizard.step == 2" style="margin-top:1em;">
                                            <div class="col-md-12" >
                                                <p class="blockquote">
                                                    <span class="fa fa-info-circle fa-2x blue"></span>
                                                    To insure categorization relevance, you first need to initialize your categories with some documents (the more the better).
                                                </p>
                                            </div>

                                            <div class="col-md-12" style="margin-top:1em;">

                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th class="box" style="width:30%;vertical-align:top; font-size: small;">Click on a category below to see the corresponding patterns</th>
                                                            <th class="box" style="width:35%;vertical-align:top; font-size: small;">The patterns of selected category</th>
                                                            <th class="box" style="width:35%;vertical-align:top; font-size: small;">
                                                                <form ng-submit="searchSpace(shared.space.id,query)" name="searchForm">
                                                                    <div class="input-group">
                                                                        <textarea cols="150"  required="required" style="height:55px;font-weight:normal;" class="form-control" placeholder="Search patterns to add to category" ng-model="query" ></textarea>
                                                                        <span class="input-group-btn">
                                                                            <button style="height: 55px" type="submit" class="btn btn-action" ng-disabled="!query " title="Search patterns to add to category">
                                                                                <span class="fa fa-search"></span>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </form>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr><td colspan="2"><br/></td><td><input ng-show="searchResult.length" placeholder="Filter search result" class="form-control" ng-model="search.title" style="width: 100%;"></td></tr>
                                                        <tr>
                                                            <td valign="top" style="padding-right:5px">
                                                                <table class="table table-striped table-condensed table-bordered table-hover" >
                                                                    <tbody>
                                                                        <tr dir-paginate="cat in listCategory | toArray | orderBy:'+label' | itemsPerPage : 8" ng-class="{active : categorySelected.id == cat.id}" ng-click="selectCategory(cat)"
                                                                        pagination-id="catsSelectedPage" current-page="currentPageCatsSelectedPage" >
                                                                            <td>{{cat.label}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>

                <!-- Column2 list catdocuments of selected category  -->
                                                            <td valign="top" style="padding-right:5px">
                                                                <table class="table table-striped table-condensed table-bordered" >
                                                                    <tbody>
                                                                         <tr dir-paginate="doc in catdocuments  | filterDocumentByCategory:categorySelected |orderBy:'title' | itemsPerPage : 8" pagination-id="docsSelectedPage" current-page="currentPageDocsSelectedPage" >
                                                                            <td class="col-md-11">
                                                                                <a href="javascript:;" ng-click="openDocumentDialog(doc)" title="{{doc.title||doc.description}}">
                                                                                    {{(doc.title||doc.description)| cut:true:50:'...'}}
                                                                                </a>
                                                                            </td>
                                                                            <td class="text-center col-md-1">
                                                                                <a title="Remove this document" class="btn btn-subaction btn-xs" ng-click="removeDocument(doc)">
                                                                                    <span class="fa fa-remove"></span>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                <!-- Column3 list all catdocuments -->
                                                            <td valign="top" >
                                                                <div ng-show="searchNotFound" style="padding-left:10px">No results found</div>
                                                                <table class="table table-striped table-condensed table-bordered" style="width:100%;margin-bottom:0;"
                                                                    ng-show="searchResult" >
                                                                    <tbody>
                                                                        <tr dir-paginate="doc in searchResult | toArray | filter:search | filterDocumentsSelected:categorySelected:catdocuments |orderBy:'title' | itemsPerPage : 8" pagination-id="docsPage" current-page="currentPageDocsPage" >
                                                                            <td class="col-md-11" >
                                                                                <a href="javascript:;" ng-click="openDocumentDialog(doc)" title="{{doc.title||doc.description}}">
                                                                                    {{(doc.title||doc.description)| cut:true:50:'...'}}
                                                                                </a>
                                                                            </td>
                                                                            <td class="text-center col-md-1">
                                                                                <a title="Add this document to category" class="btn btn-subaction btn-xs" ng-click="addDocument(doc)">
                                                                                    <span class="fa fa-plus"></span>
                                                                                </a>
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                 </table>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" >
                                                                <div class="text-center">
                                                                    <dir-pagination-controls pagination-id="catsSelectedPage"></dir-pagination-controls>
                                                                </div>
                                                            </td>
                                                            <td valign="top" >
                                                                <div class="text-center">
                                                                    <dir-pagination-controls pagination-id="docsSelectedPage" ng-show="categorySelected"></dir-pagination-controls>
                                                                </div>
                                                            </td>
                                                            <td valign="top" >
                                                                <div class="text-center" ng-show="searchResult">
                                                                    <dir-pagination-controls pagination-id="docsPage"></dir-pagination-controls>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                             </div>
                                        </div>

                                        <!-- Third step => setup last details -->
                                        <div class="col-md-12 wizard" ng-show="wizard.step == 3" style="margin-top:1em;">
                                            <div class="col-md-12">
                                                <p class="blockquote">
                                                    <span class="fa fa-info-circle fa-2x blue"></span>
                                                    Click the button [Launch the Categorisation] for execute categorization process
                                                </p>
                                            </div>
                                            <div class="col-md-12" style="margin-top:1em;">
                                                <table class="table table-striped table-condensed table-bordered" style="width:100%;margin-bottom:0;" ng-hide="listCategory | isEmpty">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-md-1 text-center" style="width:4%" >#</th>
                                                            <th class="col-md-11" >Categories</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="cat in listCategory | toArray | containsDocument:catdocuments | orderBy:'label' | itemsPerPage : 8"
                                                            pagination-id="catsResultPage" current-page="currentPageCatsResultPage" >
                                                            <td class="text-right" >{{$index+1}}</td>
                                                            <td>{{cat.label}}</td>
                                                        </tr>
                                                    </tbody>
                                                   </table>
                                                <div class="text-center">
                                                    <dir-pagination-controls pagination-id="catsResultPage"></dir-pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:1em;margin-bottom:1em;">
                                            <button ng-hide="wizard.step == 1" type="button" class="btn btn-action pull-left" ng-click="wizardBackward()"><span class="fa fa-arrow-left"></span> Previous Step</button>
                                            <button ng-hide="wizard.step == 3 || !shared.space" type="button" class="btn btn-action pull-right" ng-click="wizardForward()">Next Step <span class="fa fa-arrow-right"></span></button>
                                            <button ng-hide="wizard.step != 3 || !shared.space || (listCategory | toArray | containsDocument:catdocuments | isEmpty )" ng-click="runCategory()" type="button" class="btn btn-action pull-right" >Launch the Categorisation <span class="fa fa-arrow-right"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
