<!-- Definition of context menu -->
<!-- tree menu context -->
<link rel="stylesheet" href="public/contextmenu-abs/jquery.contextMenu.css">
<script src="public/contextmenu-abs/jquery.contextMenu-custom.js"></script>
<ul id="myMenu" class="contextMenu">
    <li class="edit"><a href="#new">New</a></li>
    <li class="copy"><a href="#copy">Clone</a></li>
    <li class="delete"><a href="#delete">Delete</a></li>
    <!--
    <li class="cut separator"><a href="#cut">Cut</a></li>
    <li class="paste"><a href="#paste">Paste</a></li>
    <li class="quit separator"><a href="#quit">Quit</a></li>
    -->
</ul>
